body {
  background-color: rgb(27, 151, 104);
  font-family: "Roboto";

  .list {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    background-color: aliceblue;
    border: 3px solid rgb(115, 255, 0);
    border-radius: 10px;

    &__title {
      padding-left: 20px;
    }

    &__buttons {
      display: flex;
      justify-content: end;
      padding-top: 10px;
      padding-right: 20px;

      &-add {
        color: white;
        background-color: rgb(115, 255, 0);
        border: 0px;
        padding: 10px;
        border-radius: 3px;
        transition: all 500ms ease;
        cursor: pointer;
      }

      &-add:hover {
        background: white;
        color: rgb(115, 255, 0);
        box-shadow: inset 0 0 0 3px rgb(115, 255, 0);
      }
    }
  }

  .tasks {
    overflow: auto;
    height: 275px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  .task {
    flex-basis: 200px;
    padding-left: 20px;

    &__number {
      display: flex;
      padding: 15px;
      border-bottom: 1px solid grey;
    }

    &__checkbox {
      display: flex;
      align-items: center;
      height: 35px;
      padding-left: 5px;
      border-left: 3px solid rgb(31, 228, 136);
      border-radius: 10%;
    }

    &__name {
      font-size: 15px;
    }

    &__autor {
      color: grey;
      font-size: 10px;
    }

    &__icons {
      display: flex;
      justify-content: flex-end;
      flex-basis: 400px;

      &-button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20%;
        transition: all 500ms ease;
      }

      &-button:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .check__mark {
    color: rgb(115, 255, 0);
    padding: 5px;
    cursor: pointer;
  }

  .trash__can {
    color: red;
    padding: 5px;
    cursor: pointer;
  }

  .popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: aliceblue;
    border: 3px solid rgb(115, 255, 0);
    border-radius: 10px;

    &__content {
      position: relative;
      margin-top: auto;
      margin-left: 20px;
    }

    &__add-form-button {
      color: white;
      background-color: rgb(115, 255, 0);
      border: 0px;
      padding: 10px;
      border-radius: 3px;
      transition: all 500ms ease;
      cursor: pointer;
    }

    &__add-form-button:hover {
      background: white;
      color: rgb(115, 255, 0);
      box-shadow: inset 0 0 0 3px rgb(115, 255, 0);
    }

    &__open {
      display: block;
    }

    h3 {
      font-size: 18px;
    }

    .button {
      padding-top: 40px;
      text-align: center;

      &-close {
        position: absolute;
        top: -20px;
        right: 30px;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }

      &-close::before,
      &-close::after {
        content: "";
        position: absolute;
        top: 21px;
        left: 10px;
        width: 26px;
        height: 4px;
        background: #ff0037;
      }

      &-close::before {
        transform: rotate(45deg);
      }

      &-close::after {
        transform: rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .list__buttons {
    justify-content: center;
  }

  .lists {
    width: 400px;
  }
}
