body {
  background-color: blueviolet;
  font-family: "Roboto";
}
body .list {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background-color: aliceblue;
  border-radius: 3px;
}
body .list__title {
  padding-left: 20px;
}
body .list__buttons {
  display: flex;
  justify-content: end;
  padding-top: 10px;
  padding-right: 20px;
}
body .list__buttons-cancel {
  color: white;
  background-color: rgb(188, 195, 235);
  border: 0px;
  padding: 10px;
  border-radius: 3px;
  transition: all 500ms ease;
  margin-right: 5px;
}
body .list__buttons-cancel:hover {
  background: blue;
  color: white;
  box-shadow: inset 0 0 0 3px blue;
}
body .list__buttons-add {
  color: white;
  background-color: blue;
  border: 0px;
  padding: 10px;
  border-radius: 3px;
  transition: all 500ms ease;
}
body .list__buttons-add:hover {
  background: white;
  color: blue;
  box-shadow: inset 0 0 0 3px blue;
}
body .tasks {
  overflow: auto;
  height: 275px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
body .task {
  flex-basis: 200px;
  padding-left: 20px;
}
body .task__number {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid grey;
}
body .task__checkbox {
  display: flex;
  align-items: center;
  height: 35px;
  padding-left: 5px;
  border-left: 3px solid yellow;
  border-radius: 10%;
}
body .task__name {
  font-size: 15px;
}
body .task__autor {
  color: grey;
  font-size: 10px;
}
body .task__icons {
  display: flex;
  justify-content: flex-end;
  flex-basis: 400px;
}
body .task__icons-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  transition: all 500ms ease;
}
body .task__icons-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
body .check__mark {
  color: green;
  padding: 5px;
}
body .trash__can {
  color: red;
  padding: 5px;
}
body .popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background-color: gainsboro;
  border-radius: 3px;
}
body .popup__content {
  position: relative;
  margin-top: auto;
  margin-left: 20px;
}
body .popup__add-form-button {
  color: white;
  background-color: green;
  border: 0px;
  padding: 10px;
  border-radius: 3px;
  transition: all 500ms ease;
  cursor: pointer;
}
body .popup__add-form-button:hover {
  background: white;
  color: green;
  box-shadow: inset 0 0 0 3px green;
}
body .popup__open {
  display: block;
}
body .popup h3 {
  font-size: 18px;
}
body .popup .button {
  padding-top: 40px;
  text-align: center;
}
body .popup .button-close {
  position: absolute;
  top: -20px;
  right: 30px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
body .popup .button-close::before, body .popup .button-close::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 10px;
  width: 26px;
  height: 4px;
  background: #e62f57;
}
body .popup .button-close::before {
  transform: rotate(45deg);
}
body .popup .button-close::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 400px) {
  .list__buttons {
    justify-content: center;
  }
  .lists {
    width: 400px;
  }
}/*# sourceMappingURL=style.css.map */